extends layout

block content

    div(class="container-fluid")
        div(class="row")
            div(class="col-md-4 col-md-offset-3 col-xs-6 form-group")
                input(type="text",class="maintext form-control floating-label",id="txtMsg",placeholder="Enter your message",onkeypress="runScript(event)")
            i(id="File",value="Attach File",class="mdi-file-attachment btn btn-primary maintext btn-lg",onclick="document.getElementById('FileBox').click();")
            span
                label(id="attachedFiles")
            i(class=" mdi-content-send btn btn-primary maintext btn-lg",onclick="sendMsg()",id="btnSend")
            input(type="file",id="FileBox",style="visibility: hidden;",name="fileInputElement",accept="image/*")        
    div(class="container-fluid scroll")
        div(class="row scroll")
            div(class="col-md-12 maintext messcls scroll",id="idMessages")
    script(src="./scripts/chat.js" type="text/javascript")
        
