doctype
html
    head
        script(src="/socket.io/socket.io.js")
        script(src="http://code.jquery.com/jquery-2.1.1.min.js")
        link(rel='stylesheet',href='../bootstrap.css')
        meta(name="viewport",content="width=device-width, initial-scale=1")

        style(type="text/css")
         |.maintext{
         |margin: 20px;
         |width: 60%;
         |position: relative;
         |height: 45px;
         |}
         |.btn-google{
         |margin:20px;
         |width:60%;
         |}
         |.myContent{
         |margin-left:70px;
         |padding-right: 0px;
         |font-size: xx-large;
         |}
         |.btnText{
         | margin-bottom:10px;
         |}


    body
        nav(class="navbar navbar-default", role="navigation")
            div( class="container-fluid")
                div(class="navbar-header")
                    a(class="navbar-brand",href="#") ChatApp :)

        div( class="container-fluid")
            div(class="row")
                div(class="col-md-6 col-xs-6")
                    h2 Chat with family and friends securely!!!
            div(class="container-fluid maindiv")
                div(class="row")
                    div(class="mycontent-left col-md-6 col-xs-6")
                        div
                            h4 Sign in with
                    div(class="col-md-6 col-xs-6")
                        h4 or with ChatAppID
                div(class="row")
                    div(class="mycontent-left col-md-6 col-xs-6")
                        //hr(class="vertical")
                        button(class="btnText btn-google btn btn-primary btn-lg" id="idGoogle") Google
                    div(class="col-md-6 col-xs-6")
                        input(type="email",class="btnText maintext form-control",placeholder="Enter your Email Id")
                div(class="row")
                    div(class="mycontent-left col-md-6 col-xs-6")
                        button(class=" btn-google btnText btn btn-primary btn-lg" id="idFb") Facebook
                        //p(class="myContent col-md-2 col-md-offset-3") (or)
                    div(class="col-md-6 col-xs-6")
                        input(type="password",class="btnText maintext form-control",placeholder="Enter your password")
                div(class="row")
                    div(class="mycontent-left col-md-6 col-xs-6")
                        button(class=" btn-google btnText btn btn-primary btn-lg" id="idTwitter") Twitter
                    div(class="col-md-6 col-xs-6")
                        button(class=" btn-google btnText btn btn-primary btn-lg") Sign in
                 div(class="row")
                    div(class="mycontent-left col-md-6 col-xs-6")
                        p(class="mycontent-left")
                    div(class="mycontent-right col-md-6 col-xs-6")
                        a(href="#") Register now
        script(src="./scripts/client.js" type="text/javascript")